.container__card {
	// min-width: 90%;
	border: 1px solid #edeff2;
	box-sizing: border-box;
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.04);
	border-radius: 8px;
	margin: 10px;
	cursor: pointer;
	&_wrapper {
		display: flex;
		justify-content: space-between;

		align-items: center;
		padding: 16px 24px;
	}
	&_title {
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		color: #1d201f;
	}
	&_box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&_img {
		min-width: 100%;
		background-color: #ade5f4;
		border-radius: 4px;
	}
	&_text {
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #5b5b5b;
		&_number {
			font-weight: bold;
		}
	}
}
