.time_text {
	width: 87px;
	height: 32px;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #c1c1c1;
	flex-grow: 0;
	margin: 0px 16px;
	cursor: pointer;

	&:focus {
		width: 83px;
		height: 40px;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 40px;
		display: flex;
		align-items: center;
		text-align: center;
		color: #33bde4;
		text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.04);
		flex-grow: 0;
		margin: 0px 16px;
	}
	&:hover {
		width: 83px;
		height: 40px;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 40px;
		display: flex;
		align-items: center;
		text-align: center;
		color: #33bde4;
		text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.04);
		flex-grow: 0;
		margin: 0px 16px;
	}
}
