.container_main {
	overflow: hidden;
}
.container__date {
	margin-top: 8%;
	margin-left: 10px;
	margin-right: 10px;
}
.littleHead {
	width: 154px;
	height: 24px;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #5b5b5b;
}
