.container__date {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px 8px;
	background-color: #ffffff;
	border: 1px solid #edeff2;
	box-sizing: border-box;
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.04);
	border-radius: 6px;
	margin: 0px 16px;
	cursor: pointer;

	&.active {
		background-color: #f0fbff;
		border: 1px solid #33bde4;
		color: #33bde4;
	}
	&_name {
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #5b5b5b;
		margin: 4px 0px;
		&.active {
			color: #33bde4;
		}
	}
	&_number {
		display: flex;
		align-items: center;
		text-align: center;
		width: 32px;
		height: 32px;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		color: #1d201f;
		margin: 4px 0;
		&.active {
			font-size: 24px;

			color: #33bde4;
		}
	}
}
