.container__order {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 80%;
	padding: 24px 0px;
	background: #ffffff;
	border: 1px solid #edeff2;
	box-sizing: border-box;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.04);
	border-radius: 4px;
	margin: 6%;
	&_wrapper {
		display: flex;
		min-width: 65%;
		justify-content: space-between;
		align-items: center;
	}
	&_item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&_line {
		background: #e6e6e6;
		width: 2px;
		height: 56px;
		border-radius: 2px;
		margin: 0px 24px;
	}
}

.item {
	&_title {
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #5b5b5b;
	}
	&_text {
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #1d201f;
	}
}

.btn_order {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px 30px;
	border: none;
	background: #33bde4;
	border-radius: 4px;
	/* margin: 6%; */
	min-width: 270px;
	min-height: 20px;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #ffffff;
}
